.htaccess
phpinfo.php
wp-config.php
/wp-content/uploads
searchreplacedb2.php
/replace
.DS_Store


/store/.buildpath
/store/.cache
/store/.metadata
/store/.project
/store/.settings
/store/atlassian*
/store/nbproject
/store/sitemap
/store/.idea
/store/.gitattributes

/store/bin

/store/dev/shell

/store/dev/tests/*/framework
/store/dev/tests/*/testsuite/Magento
/store/dev/tests/*/tmp
/store/dev/tests/*/etc
/store/dev/tests/*/*.*
/store/dev/tests/*.*
/store/dev/tests/api-functional/config
/store/dev/tests/api-functional/_files/Magento
/store/dev/tests/js/JsTestDriver/framework
/store/dev/tests/js/JsTestDriver/testsuite/lib
/store/dev/tests/js/JsTestDriver/testsuite/mage
/store/dev/tests/js/JsTestDriver/*.*
/store/dev/tests/js/jasmine/assets
/store/dev/tests/js/jasmine/spec_runner
/store/dev/tests/js/jasmine/tests/app/code/Magento
/store/dev/tests/js/jasmine/tests/lib/mage
/store/dev/tests/js/jasmine/*.*
/store/dev/tests/performance
/store/dev/tests/functional/lib/Magento
/store/dev/tests/functional/tests/app/Magento
/store/dev/tests/functional/testsuites/Magento
/store/dev/tests/functional/utils
/store/dev/tools/Magento
/store/dev/tools/grunt
/store/dev/tools/*.*
/store/dev/*.*
/store/lib
/store/pub
/store/setup
/store/var
/store/vendor
!/composer.json
!/composer.lock
!/README.md
